---
layout: default
---

{% for post in paginator.posts %}
<div class="panel well">
	<div class="row">
		<div class="col-md-1 hidden-xs">
			{% capture cat %}{{ post.category | downcase }}{% endcapture %}
			<span class="lead">{% include icon_cat.html %}</span>
		</div>
		<div class="col-md-8">
			<h2>
				<a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a>
			</h2>
			<i class="glyphicon glyphicon-calendar" aria-hidden="true"></i>Last Update: {{ post.date | date: "%d %b %Y" }}
			<div class="panel-body">
				<dl class="dl-horizontal">
					<dt>Title</dt>
					<dd>{{ post.title }}</dd>
					<dt>Summary</dt>
					<dd>{{ post.short }}<sup><a href="{{ site.baseurl}}{{ post.url }}"><i class="glyphicon glyphicon-plus-sign text-info"></i></a></sup></dd>
					<dt>Requires</dt>
					<dd>ElkArte {% if post.elkversion %}{{ post.elkversion }}{% else %}1.0{% endif %} (+)</dd>
					<dt>Category</dt>
					<dd>
					{% include pretty_cat.html %}
					{{ cat }}
					</dd>
					<dt>Color</dt>
					<dd>{% if post.color %}{{ post.color | capitalize }}{% else %}Light{% endif %}</dd>
					<dt>Author</dt>
					<dd>{{ post.author }}</dd>
					<dt>License</dt>
					<dd>{{ post.license }}
					{% capture fcw %}{{ post.license | upcase | truncate: 5, '' }}{% endcapture %}
					{% if fcw == 'CC BY' %}
					<img class="img-circle" style="padding-bottom: 1px;" src="{{ site.baseurl }}/assets/images/fcw.png" title="Free Cultural Works" alt="FCW">
					{% elsif fcw == 'BSD 2' or fwc == 'BSD 3' or fcw == 'BSD' %}
					<img class="img-circle" style="padding-bottom: 1px;" src="{{ site.baseurl }}/assets/images/osi-icon.png" title="Open Source" alt="OSI">
					{% endif %}
					</dd>
					<dt>Version</dt>
					<dd>{{ post.version }}</dd>
					{% if post.link %}
					<dt>Link</dt>
					<dd>{{ post.link }}</dd>
					{% endif %}
				</dl>
			</div>
		</div>
		<div class="col-md-3 hidden-xs">
			{% if post.thumbnail %}
			<div class="thumbnail">
				<a href="{{ site.baseurl}}{{ post.url }}">
				{% if post.thumbnail contains 'http://' or post.thumbnail contains 'https://' %}
				<img class="img-rounded" src="{{ post.thumbnail }}" alt="details">
				{% else %}
				<img class="img-rounded" src="{{ site.baseurl }}{{ post.thumbnail }}" alt="details">
				{% endif %}
				</a>
			</div>
			{% else %}
			<div class="media media-right">
				<img class="img-rounded" src="{{ site.baseurl }}/assets/images/addons.png" alt="thumbnail">
			</div>
			{% endif %}
			<a href="{{ site.baseurl}}{{ post.url }}" class="btn btn-info btn-block"><i class="glyphicon glyphicon-info-sign pull-left"></i> Details</a>
			{% if post.download and post.download != '' %}
			<a href="{{ post.download }}" class="btn btn-info btn-block"><i class="glyphicon glyphicon-save pull-left"></i> Download</a>
			{% endif %}
			{% if post.download10 and post.download10 != '' %}
			<a href="{{ post.download10 }}" class="btn btn-info btn-block"><i class="glyphicon glyphicon-save pull-left"></i> Download (Elk v1.0)</a>
			{% endif %}
			{% if post.download11 and post.download11 != '' %}
			<a href="{{ post.download11 }}" class="btn btn-info btn-block"><i class="glyphicon glyphicon-save pull-left"></i> Download (Elk v1.1)</a>
			{% endif %}
			{% if post.support and post.support != '' %}
			<a href="{{ post.support }}" class="btn btn-info btn-block"><i class="glyphicon glyphicon-bullhorn pull-left"></i> Support</a>
			{% endif %}
			{% if post.demo and post.demo != '' %}
			<a href="{{ post.demo }}" class="btn btn-info btn-block"><i class="glyphicon glyphicon-fire pull-left text-danger"></i> Demo</a>
			{% endif %}
		</div>
	</div>
</div>
{% endfor %}

<div class="text-center">
	{% include pager.html %}
</div>