{% include header.html %}

<div class="container container-left">
    <div class="row">
        <div class="col-md-3 hidden-xs hidden-sm">
            {% include sidebar_details.html %}
        </div>
        <div class="col-md-9">
			<div class="panel panel-info">
				<div class="panel-heading well well-sm">
					<h2 class="panel-title"><a class="h2" href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h2>
				</div>
				<div class="panel-body">
					<i class="glyphicon glyphicon-calendar" aria-hidden="true"></i>Last Update: {{ page.date | date: "%b %-d, %Y" }}
					<!-- Site Comments header if enabled -->
					{% if site.comments == true and page.comments == true and site.disqus != '' %}
					<p class="author"><a href="#disqus_thread">Comments</a></p>
					{% endif %}
					<!-- The actual MD text, or html or whatever they put in the page -->
					<div class="page-content">
						{{ content }}
					</div>
					<!-- If there are images, here is where they go in a nice grid -->
					{% if page.images %}
					<hr>
					<div class="container-fluid">
						<div class="row">
						{% for image_hash in page.images %}
							{% capture modulo %}{{ forloop.index | modulo:3 }}{% endcapture %}
							{% for image in image_hash %}
							<div class="col-xs-4">
								{% if image[1] contains 'http://' or image[1] contains 'https://'%}
								<a href="{{ image[1] }}" class="thumbnail">
									<img src="{{ image[1] }}" alt="{{ image[0] }}">
								{% else %}
								<a href="{{ site.baseurl }}{{ image[1] }}" class="thumbnail">
									<img src="{{ site.baseurl }}{{ image[1] }}" alt="{{ image[0] }}">
								{% endif %}
								</a>
							</div>
								{% if modulo == '0' %}
							</div>
						<div class="row">
								{% endif %}
							{% endfor %}
						{% endfor %}
						</div>
					</div>
					{% endif %}
					<!-- The download button! -->
					<div class="text-center">
						<a href="{{ page.download }}" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-save"></i> Download</a>
						{% if page.support and page.support != '' %}
						<a href="{{ page.support }}" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-bullhorn"></i> Support</a>
						{% endif %}
						{% if page.demo and page.demo != '' %}
						<a href="{{ page.demo }}" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-fire text-danger"></i> Demo</a>
						{% endif %}
					</div>
					<!-- Comment body if comments are enabled -->
					{% if page.comments %}
					<div id="disqus_thread">
						<a href="https://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
					</div>
					{% endif %}
				</div>
			</div>
			<nav>
				<ul class="pager">
					{% if page.previous %}
					<li class="previous">
						<a href="{{ site.baseurl}}{{ page.previous.url }}"><span aria-hidden="true"><i class="glyphicon glyphicon-arrow-left"></i></span> Previous</a>
					</li>
					{% endif %}
					{% if page.next %}
					<li class="next">
						<a href="{{ site.baseurl}}{{ page.next.url }}">Next <span aria-hidden="true"><i class="glyphicon glyphicon-arrow-right"></i></span></a>
					</li>
					{% endif %}
				</ul>
			</nav>
        </div>
    </div>
</div>

{% include disqus-comments.html %}
{% include footer.html %}